{% extends 'base.html.twig' %}

{% block title %}Se Connecter
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}
		<div class="container mt-4">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							{{ 'Se connecter'|trans }}
						</div>
						<div
							class="card-body">
							{# {{ form_start(form) }} #}
							<div class="form-group mb-3">
								<label for="inputEmail">Email</label>
								<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
							</div>
							<div class="form-group mb-3">
								<label for="inputPassword">Mot de passe</label>
								<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
							</div>
							<button type="submit" class="btn btn-primary">
								{{ 'Confirmer'|trans }}
							</button>
							{# {{ form_end(form) }} #}
						</div>
					</div>
				</div>
			</div>
		</div>
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
	</form>

{% endblock %}
